
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

@{
    ViewBag.Title = "Contact";
}


<div class="body_bg layout_padding">
    <!-- contact section -->

    <section class="contact_section">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Let's Get In Touch!
                </h2>
            </div>
        </div>
        <div class="container contact_bg layout_padding2-top">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_form ">
                        <form action="">
                            <input type="text" placeholder="Name ">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Message" class="message_input">
                            <button>
                                Send
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/contact-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->

</div>
<!-- info section -->

<section class="info_section layout_padding">
    <div class="footer_contact">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="box">
            <a href="" class="img-box">
                <img src="images/location.png" alt="" class="img-1">
                <img src="images/location-o.png" alt="" class="img-2">
            </a>
            <a href="" class="img-box">
                <img src="images/call.png" alt="" class="img-1">
                <img src="images/call-o.png" alt="" class="img-2">
            </a>
            <a href="" class="img-box">
                <img src="images/envelope.png" alt="" class="img-1">
                <img src="images/envelope-o.png" alt="" class="img-2">
            </a>
        </div>
    </div>
</section>
