
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-sm">
    <div class="row">
        <nav class=" col-12 bg-success">
            <div class="admin">
                <i class="fas fa-user"></i>
                @{
                    var admin = HttpContext.Current.Session["admin"];
                    <span>@admin</span>
                }
                <i class="fas fa-caret-down"></i>

                <div class="sign-out">
                    <a href="~/Admin/Home/SignOut">sign out</a>
                </div>
            </div>
        </nav>

        <aside class=" col-2 bg-info">
            sidebar
        </aside>

        <main class="col-10 bg-light">
            đây là trang admin
        </main>

    </div>
</div>

